.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background: var(--bg-non-image);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/indeximages/bg-img.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip: padding-box;
}

.hero__title {
    color: var(--third-light-color);
    @include font(900, 44px, 1.4);
    // font-weight: 900;
    // font-size: 44px;
    // line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px) {
    
    .hero {
        max-width: 767px;
        height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/mobile/header_bg_1x-min.jpg');
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/mobile/header_bg_2x-min.jpg');
        }
    }
    .hero__title {
        @include font(900, 26px, 1.6);
        max-width: 360px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .hero {
        max-width: 1199px;
        height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/tablet/header_bg_1x-min.jpg');
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/tablet/header_bg_2x-min.jpg');
        }
    }
    .hero__title {
        @include font(900, 26px, 1.6);
        max-width: 360px;
    }
}
