.partners {
    padding-top: 94px;
    padding-bottom: 94px;
}
.partners-title {
margin-bottom: 50px;
}
.partners-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.partners-list-items {
    display: flex;
    align-items: center;
}
.partners-list-links {
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border: 1px solid var(--border-icons);
    border-radius: 4px;
    fill: var(--border-icons);
    transition-property: border, fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid var(--primary-accent);
        fill: var(--primary-accent);
    }
}

@media screen and (max-width: 767px) {
    .partners {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .partners-title {
    margin-bottom: 30px;
    }
    .partners-list-links {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .partners {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .partners-title {
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 1200px) {
    .partners-list-links {
        padding: 16px 32px;
    }
}
